<% if false %>
<div class="headerplug">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2500" data-pause="null">
  <!-- Indicators -->


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Everybody is a Plug.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>

    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug wear Tims 365 days of the year.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>

    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug do jumping jacks to stay fit.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug is Frank Ocean.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug wear fur coats in the summer.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug gets no respeck.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug still lives with their moms.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
  </div>


</div>


</div>
<% end %>



<div class="secondplug">
	<div class="plugbox">
		<p><i class="fa fa-plug fa-flip-horizontal"></i></p>

			<h1>Hit the plug...like what's the move?</h1>
			<h2>Don't miss what's happening in your city anytime anywhere.</h2>

	</div>
	<div class="plugphonebox">
		<%= image_tag 'frontapp.png', :class => "phoneimage" %>

	</div>



</div>


<div class="thirdplug">
	<div class="plugbox">
		<h1>Fire your plug, no more...</h1>
		<ul>
			<li>searching endless venue websites</li>
			<li>browsing social media feeds</li>
			<li>forgeting events happening</li>
			<li>relying on limited curated event lists</li>

		</ul>
		<h1>Reserve Your Spot Today</h1>
		<p>currently working endlessly in a spare room in a house built in the 40s in NoDa Charlotte to give the world the best event app ever...
help us make a great app and join today</p>

		     <div class="titleheader">

                <p><h1>PLUGS<i class="fa fa-plug fa-flip-horizontal"></i></h1></p>
            </div>

            <% if false %><p>Currently invite only.</p><p> <%= link_to "Sign up now to get on wait list.", "http://plugsapp.com/invites/new" %></p><% end %>

            <p>Sign ups currently open.</p><p> <%= link_to "Sign up now.", "http://plugsapp.com" %></p>

	</div>


</div>


<script>
	$(document).ready(function(){
							   
	 $(window).resize(function(){

	  $('.iphone-container').css({
	   position:'absolute',
	   left: ($('.light').width() 
		 - $('.iphone-container').outerWidth())/2,
	   top: ($('.light').height() 
		 - $('.iphone-container').outerHeight())/2
	  });

	  $('.iphone-container').css({
	   position:'absolute',
	   left: ($('.dark').width() 
		 - $('.iphone-container').outerWidth())/2,
	   top: ($('.dark').height() 
		 - $('.iphone-container').outerHeight())/2
	  });

	 });
	 
	 $(window).resize();

	});
</script>