<div class="headerplug">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2500" data-pause="null">
  <!-- Indicators -->


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Everybody is a Plug.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>

    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug wear Tims 365 days of the year.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>

    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug do jumping jacks to stay fit.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug is Frank Ocean.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug wear fur coats in the summer.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug gets no respeck.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
    <div class="item">
      		<div class="plugslide">
			
				<div class="plugslide-info">
					<h1>Your plug still lives with their moms.</h1>
					<h2>#fireYOURplug</h2>

				</div>
		</div>
    </div>
  </div>


</div>


</div>



<div class="secondplug">
	<div class="plugbox">
		<p><i class="fa fa-plug fa-flip-horizontal"></i></p>

			<h1>We fired our event plug</h1>
			<h2>And We Built PLUGS<i class="fa fa-plug fa-flip-horizontal"></i></h2>

	</div>
	<div class="plugphonebox">
		<%= image_tag 'frontapp.png', :class => "phoneimage" %>

	</div>



</div>


<div class="thirdplug">
	<div class="plugbox">
		<h1>Fire your plug, no more...</h1>
		<ul>
			<li>searching endless venue websites</li>
			<li>browsing social media feeds</li>
			<li>forgeting events happening</li>
			<li>relying on bias curated event lists</li>

		</ul>
		<h1>Connect with a new plug</h1>
		<p>Everybody is a plug. Connect to people in your city who keep up with events you may like. Like going out and exploring your city, curate events and become a plug for your city.  Join now and get premium membership for free for life.</p>

		     <div class="titleheader">

                <p><h1>PLUGS<i class="fa fa-plug fa-flip-horizontal"></i></h1></p>
            </div>

            <p>Currently invite only.</p><p> <%= link_to "Sign up now to get on wait list.", "http://plugsapp.com/invites/new" %></p>

            <% if false %><p>Sign ups currently open.</p><p> <%= link_to "Sign up now.", "http://plugsapp.com" %></p><% end %>

            <p><%= link_to "Log in at www.plugsapp.com", "http://www.plugsapp.com" %></p>

	</div>


</div>


<script>
	$(document).ready(function(){
							   
	 $(window).resize(function(){

	  $('.iphone-container').css({
	   position:'absolute',
	   left: ($('.light').width() 
		 - $('.iphone-container').outerWidth())/2,
	   top: ($('.light').height() 
		 - $('.iphone-container').outerHeight())/2
	  });

	  $('.iphone-container').css({
	   position:'absolute',
	   left: ($('.dark').width() 
		 - $('.iphone-container').outerWidth())/2,
	   top: ($('.dark').height() 
		 - $('.iphone-container').outerHeight())/2
	  });

	 });
	 
	 $(window).resize();

	});
</script>