<!DOCTYPE html>
<html>
<head>
  <title>Fireyourplug</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://use.typekit.net/hej2knq.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width" />
</head>
<body>

<%= yield %>

</body>
</html>
